@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}
@font-face {
  font-family: Poppins;
  src: url('/fonts/Poppins-Regular.ttf');
}
@font-face {
  font-family: Poppins-Medium;
  src: url('/fonts/Poppins-Medium.ttf');
}
@font-face {
  font-family: Poppins-Bold;
  src: url('/fonts/Poppins-Bold.ttf');
}
@font-face {
  font-family: Poppins-ExtraLight;
  src: url('/fonts/Poppins-ExtraLight.ttf');
}
@font-face {
  font-family: DMSans-Bold;
  src: url('/fonts/DMSans-Bold.ttf');
}
@font-face {
  font-family: DMSans-Medium;
  src: url('/fonts/DMSans-Medium.ttf');
}
@font-face {
  font-family: DMSans-Regular;
  src: url('/fonts/DMSans-Regular.ttf');
}

.h5-wrap, body {
  font-family: Poppins-ExtraLight;
}
@media screen and (max-width:640px) {
  .h5-wrap, body {
      font-family: Poppins;
  }
}
.font-fnormal{
  font-family: Poppins;
}
.font-fmedium{
  font-family: Poppins-Medium;
}
.font-fbold {
  font-family: Poppins-Bold;
}
.font-exlt {
  font-family: Poppins-ExtraLight;
}

.font-dmedium{
  font-family: DMSans-Medium;
}
.font-dbold {
  font-family: DMSans-Bold;
}
.font-dnormal {
  font-family: DMSans-Regular;
}
.ranking__wrap {
  font-family: DMSans-Regular;
}
.ranking__wrap .font-fmedium{
  font-family: DMSans-Medium
}
.ranking__wrap .font-fbold {
  font-family: DMSans-Bold;
}
.ranking__wrap .font-ffmedium{
  font-family: Poppins-Medium
}
.ranking__wrap .font-ffbold {
  font-family: Poppins-Bold;
}

.launch-btn {
  width: 141px;
  height: 44px;
  background: linear-gradient(133.61deg, #3555FF 10%, #A157FF 100%);
  border-radius: 4px;
}

.ranking-bg {
  background-image: url('https://website-1315068501.cos.ap-nanjing.myqcloud.com/website_ranking/bg3.png?q-sign-algorithm=sha1&q-ak=AKIDE5tVEx6rM7IXBu_3APOZjAEtTLv_30Vz3S8XuSufUsDwvnYuWMlNtKbBLNS6ngf4&q-sign-time=1692195465;1692199065&q-key-time=1692195465;1692199065&q-header-list=host&q-url-param-list=ci-process&q-signature=2fab9e563a8ebeaa4614dbd0b7af15cd002977b5&x-cos-security-token=6bdH5x2ljTSkRgNVTXyGgsu1tiiKSs9a4c50ec37fec9a366a695ac99e0c6ba3dNUDmFHw43ewwAcomMxLIUr9UPy96Ukz65CCJ9Ias3J010zAD-uTwq19Fo-kY7Kz_9mS20SkoFqIULsoX3GiqVB-GYXBKz_SIfoln2RFxfrbnwoX6kD6-AGTGrmjteJE0aKwp7TWcedPCSjBRVcQ920Ib5Wt9sQFbEpc2qcXldTnRED-CskelnIaHajjURrZc&ci-process=originImage');
  background-repeat: no-repeat;
  background-size: cover;
}
.addressan-bg {
  background-image: url('https://website-1315068501.cos.ap-nanjing.myqcloud.com/website_ranking/bg_nft.png?q-sign-algorithm=sha1&q-ak=AKIDo1R0j0v5dOSyRb6LQaWn5kulxT2U8G9ai6BXHOMdcbvUufCPE4G5Tg_-k-oxISxc&q-sign-time=1692194853;1692198453&q-key-time=1692194853;1692198453&q-header-list=host&q-url-param-list=ci-process&q-signature=3f0603729e462e5534bec83726a2cf26e1063751&x-cos-security-token=Kf3IV6P9iQyQm3I05cxTQECP7OMuvLxaa996bb2cc76e6148adf3d3c7081728a169Wx9hEDgmcDjMkTwjW4r1andUrSb8rJn1xthpeI00j9rKGP3V0C0c4h7QXZZYu9bbkmQT6rNbdXDrP1npH8HdNzsW_eLexUCBkxYmbE46cgCAkuKF9vO8gokwnndkZZ1nwJ11N3uusoOdKEK2GeAiQksnc9eBr27V4SIazoUMWy6k3bxsfKn46BVNHFNfvp&ci-process=originImage');
  background-size: cover;
}
.addresscoll-bg {
  background-image: url('https://website-1315068501.cos.ap-nanjing.myqcloud.com/website_ranking/bg.png?q-sign-algorithm=sha1&q-ak=AKIDCg6ZLgUQICuzoJASCH1d1tkZa97_ej_SI3wn32_VHj3uAM-YvSTdJkWaHExzamP7&q-sign-time=1692194864;1692198464&q-key-time=1692194864;1692198464&q-header-list=host&q-url-param-list=ci-process&q-signature=50da10f09b2cbc30fd45c8445120f6695b902cac&x-cos-security-token=6bdH5x2ljTSkRgNVTXyGgsu1tiiKSs9a84497bd51f996c4487ef9320baccc795NUDmFHw43ewwAcomMxLIUtKUsi_Eo9pwTtYWe_9NgapAy0VLCBp4KhWDQehidPE9W57sCFmvdLFQqnd3iQEqVCvaqHYFV6vyI61tkVkK7EsBOl286s_4zchyydnc2YTWmfkmqUMlhir1VrdzL1S3NsAhCBrqJUbHKPlteTdgRfyglM7CjR3e2WXecoWdmv6z&ci-process=originImage');
  background-size: cover;
}
.menu-title-white {
  background-color: rgba(255, 255, 255, 0.3);
  backdrop-filter: blur(5px);
  border-bottom: 1px solid white;
}
@media screen and (max-width:1670px) {
  .left1440 {
    left: -90px;
  }
  .ranking-bg {
    background-image: url('https://website-1315068501.cos.ap-nanjing.myqcloud.com/website_ranking/bg3_1440.png?q-sign-algorithm=sha1&q-ak=AKIDlUO567xNNCDFAKbgMZykyYJ_BFcPA42vpc0FQTU-RMjn0q8J6BODoZxfZxz0RIfo&q-sign-time=1692195192;1692198792&q-key-time=1692195192;1692198792&q-header-list=host&q-url-param-list=ci-process&q-signature=5fa8ba6542f35ebf08eb13c401b910b5dc538774&x-cos-security-token=Kf3IV6P9iQyQm3I05cxTQECP7OMuvLxae41d1320f2b91afb14ea603ffdea1ab669Wx9hEDgmcDjMkTwjW4r9gzUaidi8sBZ0D2dBzwFedt3krKXYh4WsTMpD1gc6koBiJ07vOCh0w4qpnQfLBrCZaVWqlcknBbG7quqbOCdUIVJqXNRyvTxW9iw4XTXn1dgfeylsNkbMGsefhbfGx5yIaTRmmN0ZwibaMGdIFPy6bhUAjnPBO469LVY9Qdw77_&ci-process=originImage');
    background-repeat: no-repeat;
    background-size: cover;
  }
  .addresscoll-bg {
    background-image: url('https://website-1315068501.cos.ap-nanjing.myqcloud.com/website_ranking/bg_1440.png?q-sign-algorithm=sha1&q-ak=AKIDMb97sRLl5Y1tJf09m5kTSYK6NUd9csrl90xZBXiew0GF0DvpMVt5r0s2BgN95m9q&q-sign-time=1692195203;1692198803&q-key-time=1692195203;1692198803&q-header-list=host&q-url-param-list=ci-process&q-signature=8b9f52a3e9d96a557f7306f7cf0f8c262e94290b&x-cos-security-token=6bdH5x2ljTSkRgNVTXyGgsu1tiiKSs9a9ae1bc0df58e92665f44a88397ce1213NUDmFHw43ewwAcomMxLIUs8c5p0i1oSNpOvERhrjEP2y7nvux8SfVwhINK-P_6fnjoC9uu5YEVQR1_5yAh59OdoZUzqt1emohAMgZdFKVEulO5K4RYcsRWmv2WPzdccbD1W9i5pzHs5oB-0HAxx05ExkFFH3sfMT78wzGYL6glL2oi702PX5bF0Q1QKvXhl2&ci-process=originImage');
    background-size: cover;
  }
  .addressan-bg {
    background-image: url('https://website-1315068501.cos.ap-nanjing.myqcloud.com/website_ranking/bg_nft_1440.png?q-sign-algorithm=sha1&q-ak=AKIDcRzwyrhtmty21YdeEuAT1Xpx6awPkacRKJjovRGLJ-__m8KXFkTVwKcBhUXmPMyg&q-sign-time=1692195214;1692198814&q-key-time=1692195214;1692198814&q-header-list=host&q-url-param-list=ci-process&q-signature=5f2ba62a9496f2d08d3133dda789e377b446aa10&x-cos-security-token=6bdH5x2ljTSkRgNVTXyGgsu1tiiKSs9a3ea528564068994f7f3417c439f797acNUDmFHw43ewwAcomMxLIUve3wlV6AsR1sntQe_8u8ASLbcbBf6Eao2vx5sdRj8AfFxbXwqmjYkikumL18_hNBIUY2ljzqn0V2FTQx5Rx-Dmv8rM2oUxcR6Y7nBpslNc6rAjbGn-KJWCLkLyVY4e0d2FK_i6x-iJAJsHapaG3Okzywo3CyFsy_Sv0UpezNc4C&ci-process=originImage');
    background-size: cover;
  }
}
.holder_bg {
  background-image: url('/addressan/bg1.png');
  background-size: 100% 100%;
}
.coll_bg {
  background-image: url('/addressan/bg2.png');
  background-size: 100% 100%;
}
.top__bg{
  background-image: url('/addressan/top_bg.png');
  background-repeat: no-repeat;
  background-size: 100% ;
}
.ranking-bg * {
  box-sizing: border-box;
}
.reddit-title{
  background: linear-gradient(127deg, #546FFF 15.65%, #9644FF 77.85%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}
.reddit-title2{
  background: linear-gradient(280.16deg, #F73B47 8.51%, #FF7E35 142.08%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}
.table__body .table__row:nth-child(2n) {
  background-color: #F8F9FF;
}
.table__body .table__row:hover {
  background-color: #D7E4FD;
}
.table__row .italic.w-9 {
  color: #7F8792;
}
.chart-tip2 {
  background-color: rgba(51, 56, 62, 0.8);
  border-radius: 8px;
  font-size: 20px;
  color: #E8EAEC;
  font-weight: 500;
  padding: 4px 12px;
  display: flex;
  align-items: center;
  height: 40px;
}
.chart-tip {
  position: absolute;
  height: 100px;
  width: 200px;
  opacity: 0;
  cursor: pointer;
  display: flex;
  justify-content: center;
}
.num-text1 {
  background: linear-gradient(124.16deg, #3555FF 8.05%, #A157FF 66.68%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}
.num-text2 {
  background: linear-gradient(280.16deg, #F73B47 8.51%, #FF7E35 142.08%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}
.num-text3 {
  background: linear-gradient(85.79deg, #FF30A9 5.17%, #FA0263 92.09%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}
.num-text4 {
  background: linear-gradient(133.35deg, #FF8B02 37.98%, #FFC903 172.78%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}
.img-wrap {
  position: relative;
  padding: 0;
}
.img-wrap .img-bg {
  background-image: url('/ranking/avatar_bg.png');
  background-position: left top;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
}
.img-wrap img {
  width: auto;
  height: auto;
  max-width: 100%;
  max-height: 100%;
}
.line__v{
  width: 2px;
  height: 22px;
  position: relative;
  top: 4px;
  background: linear-gradient(124.16deg, #3555FF 8.05%, #A157FF 66.68%);
  opacity: 0.3;
}
.tips-wrap {
  width: auto;
  background: rgba(51, 56, 62, 0.8);
  border-radius: 8px;
  padding: 4px 12px;
  position: absolute;
  left: 0;
  top: calc(100% + 4px);
  color: #E8EAEC;
  font-weight: 500;
  font-size: 20px;
  line-height: 32px;
  word-break: break-all;
  z-index: 10;
}

.text1 {
  background: linear-gradient(280.16deg, #F73B47 8.51%, #FF7E35 142.08%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}

.text2 {
  background: linear-gradient(270deg, #D640B8 0%, #FB6AAB 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}

.text3 {
  background: linear-gradient(270deg, #01A4FF 0%, #436AFE 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}

.text4 {
  background: linear-gradient(127.27deg, #3555FF 12.05%, #A157FF 85.34%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}

.text5 {
  background: linear-gradient(268.16deg, #FFD428 1.37%, #FD4702 194.17%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}

.bg1 {
  background: linear-gradient(280.16deg, #F73B47 8.51%, #FF7E35 142.08%);
}

.bg2 {
  background: linear-gradient(270deg, #D640B8 0%, #FB6AAB 100%);
}

.bg3 {
  background: linear-gradient(270deg, #01A4FF 0%, #436AFE 100%);
}

.bg4 {
  background: linear-gradient(127.27deg, #3555FF 12.05%, #A157FF 85.34%);
}

.bg5 {
  background: linear-gradient(268.16deg, #FFD428 1.37%, #FD4702 194.17%);
}

.inferer-score {
  font-size: 70px;
  font-weight: 700;
  line-height: 88px;
}
.score-bar {
  height: 12px;
  border-radius: 40px;

}
.line_score {
  width: 1px;
  height: 135px;
  left: 784px;

  background: linear-gradient(180deg, rgba(83, 115, 255, 0.2) 0%, rgba(94, 37, 255, 0.2) 100%);
  box-shadow: inset 0px 1px 6px rgba(0, 0, 0, 0.03);
}

.holding-amount {
  color: #7F8792;
  font-size: 24px;
}

.holding-dot {
  width: 12px;
  height: 12px;
  border-radius: 12px;
  margin-right: 12px;

  &._1 {
    background-color: #48AEF5;
  }

  &._23 {
    background-color: #FE7B77;
  }

  &._410 {
    background-color: #D080FF;
  }

  &._10 {
    background-color: #FFB859;
  }
}

.infer-label {
  padding: 4px 10px;
  background: linear-gradient(124.16deg, rgba(53, 85, 255, 0.1) 8.05%, rgba(161, 87, 255, 0.1) 66.68%);
  border-radius: 4px;
  font-size: 12px;
  margin-bottom: 29px;
  margin-right: 24px;
  cursor: pointer;
}
.infer-label:hover {
  background: linear-gradient(122deg, #3555FF 15.65%, #A157FF 77.85%);
}
.infer-label:hover .num-text1 {
  color: #fff;
  background: none;
  -webkit-background-clip: text;
  -webkit-text-fill-color: #fff;
  background-clip: text;
  text-fill-color: #fff;
}

.infer-label2 {
  padding: 4px 10px;
  border-radius: 4px;
  font-size: 12px;
  background-color: #EEF4FF;
  margin-bottom: 10px;
  margin-right: 24px;
  cursor: pointer;
}
.infer-label2:hover .text-label2{
  background: linear-gradient(124.16deg, #3555FF 8.05%, #A157FF 66.68%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}


.like-wrap .num-text1.up {
  background: linear-gradient(280.16deg, #F73B47 8.51%, #FF7E35 142.08%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}


.like-wrap .num-text1.down {
  background: linear-gradient(124.16deg, #3F4664 8.05%, #3F4664 66.68%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}

.text-ellipsis {
 
  overflow: hidden;

  white-space: nowrap;

  text-overflow: ellipsis;
}

.ceiling-floor-bg{
  background: linear-gradient(127deg, rgba(53, 85, 255, 0.05) 15.65%, rgba(161, 87, 255, 0.05) 77.85%);
}