@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}
@font-face {
  font-family: Poppins;
  src: url('/fonts/Poppins-Regular.ttf');
}
@font-face {
  font-family: Poppins-Medium;
  src: url('/fonts/Poppins-Medium.ttf');
}
@font-face {
  font-family: Poppins-Bold;
  src: url('/fonts/Poppins-Bold.ttf');
}
@font-face {
  font-family: Poppins-ExtraLight;
  src: url('/fonts/Poppins-ExtraLight.ttf');
}
@font-face {
  font-family: DMSans-Bold;
  src: url('/fonts/DMSans-Bold.ttf');
}
@font-face {
  font-family: DMSans-Medium;
  src: url('/fonts/DMSans-Medium.ttf');
}
@font-face {
  font-family: DMSans-Regular;
  src: url('/fonts/DMSans-Regular.ttf');
}

.h5-wrap, body {
  font-family: Poppins-ExtraLight;
}
@media screen and (max-width:640px) {
  .h5-wrap, body {
      font-family: Poppins;
  }
}
.font-fnormal{
  font-family: Poppins;
}
.font-fmedium{
  font-family: Poppins-Medium;
}
.font-fbold {
  font-family: Poppins-Bold;
}
.font-exlt {
  font-family: Poppins-ExtraLight;
}

.font-dmedium{
  font-family: DMSans-Medium;
}
.font-dbold {
  font-family: DMSans-Bold;
}
.font-dnormal {
  font-family: DMSans-Regular;
}
.ranking__wrap {
  font-family: DMSans-Regular;
}
.ranking__wrap .font-fmedium{
  font-family: DMSans-Medium
}
.ranking__wrap .font-fbold {
  font-family: DMSans-Bold;
}
.ranking__wrap .font-ffmedium{
  font-family: Poppins-Medium
}
.ranking__wrap .font-ffbold {
  font-family: Poppins-Bold;
}

.launch-btn {
  width: 141px;
  height: 44px;
  background: linear-gradient(133.61deg, #3555FF 10%, #A157FF 100%);
  border-radius: 4px;
}

.ranking-bg {
  background-image: url('https://website-1315068501.cos.ap-nanjing.myqcloud.com/website_ranking/bg3.png?q-sign-algorithm=sha1&q-ak=AKIDO8CBA6GKV8ui4eexgwUFvx5t7cYRr4z8zGMOfSoJDMH_EvdWvtkwljMoPzVMri7-&q-sign-time=1692201383;1692204983&q-key-time=1692201383;1692204983&q-header-list=host&q-url-param-list=ci-process&q-signature=3a477b2edaf147a4d60b7e8af9c6ffc6c87975da&x-cos-security-token=6bdH5x2ljTSkRgNVTXyGgsu1tiiKSs9abd862cd0c3542a2402d7d652f5281f12NUDmFHw43ewwAcomMxLIUrzMjxdJKULe8ZyhC6MpzEhMBQu8NVPJjkhGlG0tSApkJj6p2qzyLibeSO8ZG4QAxRnPjFJn2EM-o8MRgf5jMx-kIwRydGYZkIW9EQi5CI2eO7bnO--rrRhI-vCZcuD__Vt1QjtIIQwg6EAKnPjNK73x35SHijQ6JhMrL0QSPREW&ci-process=originImage');
  background-repeat: no-repeat;
  background-size: cover;
}
.addressan-bg {
  background-image: url('https://website-1315068501.cos.ap-nanjing.myqcloud.com/website_ranking/bg_nft.png?q-sign-algorithm=sha1&q-ak=AKIDu5tzvnPTo3HKGuAbcyNIOe69PBncCp2ffpNI7m_tIlF77QMEdTaQj82KRipOHhcO&q-sign-time=1692201405;1692205005&q-key-time=1692201405;1692205005&q-header-list=host&q-url-param-list=ci-process&q-signature=99fb883af8e176da7e72421ff3cf0c0e0843df81&x-cos-security-token=6bdH5x2ljTSkRgNVTXyGgsu1tiiKSs9aa2c965f5d3505ae31ea17302aeba6866NUDmFHw43ewwAcomMxLIUnFk-8Wwts27H5hDT-GghZ5rVD9Gsf0qiGVqjWxiqmiCjTdNPFySDX-is_2I5o9wy4jXcgLycttq05V8IU8T-DmevQyi0b9X6dDiz4B4xb7PRTssK6j08-ZKPBQrPkv5hG86EOViGYpDqCNwFA77ZRT-U5fPQEpJ6oVGLzew-I81&ci-process=originImage');
  background-size: cover;
}
.addresscoll-bg {
  background-image: url('https://website-1315068501.cos.ap-nanjing.myqcloud.com/website_ranking/bg.png?q-sign-algorithm=sha1&q-ak=AKIDK0cY0e5b7xzmxA0a4NhZh8NafODiJgq_YcwPOHa6OjjvD6iVBYR2O22fP-bUZT6c&q-sign-time=1692201434;1692205034&q-key-time=1692201434;1692205034&q-header-list=host&q-url-param-list=ci-process&q-signature=8841af6731c1aea5e28eccb36d1d2f83377417fd&x-cos-security-token=6bdH5x2ljTSkRgNVTXyGgsu1tiiKSs9a042f7546778adc7468961d69400d2f72NUDmFHw43ewwAcomMxLIUhE8-AFOBROi24KYA6qqwjA2ktw7X5x8ib-xvV7XQfDIsBiC9FCc9GXnsX3eRQlLXqpvKUsTlhg1uU3FbNOKNDLMZq1glSVWJfG5SsE39TwR6oWX6P7OMsp2PGqVcRIMkI3-2dkZkdn1sjrM0gVmA-S4NlbfSqId2fgGATnHuIly&ci-process=originImage');
  background-size: cover;
}
.menu-title-white {
  background-color: rgba(255, 255, 255, 0.3);
  backdrop-filter: blur(5px);
  border-bottom: 1px solid white;
}
@media screen and (max-width:1670px) {
  .left1440 {
    left: -90px;
  }
  .ranking-bg {
    background-image: url('https://website-1315068501.cos.ap-nanjing.myqcloud.com/website_ranking/bg3_1440.png?q-sign-algorithm=sha1&q-ak=AKIDgDiYyJJc49P18CTsgS1tyOPqvCO_66j_OfimhG6LS00_QoUNDXYAV8i_NYTGgYkw&q-sign-time=1692201472;1692205072&q-key-time=1692201472;1692205072&q-header-list=host&q-url-param-list=ci-process&q-signature=b1503ee04b209269ed152d910dc34a8dd63fb06e&x-cos-security-token=Kf3IV6P9iQyQm3I05cxTQECP7OMuvLxa6305cfc1995155e8a46cb63e9834082e69Wx9hEDgmcDjMkTwjW4r64dQ0bAUW4E2q1UPYgmj64P9UX8zkdiTV6ZLChusutU7ga_yFlaZhJaPRqsekmFEoxr-gdgmeTaTUPj_i3N6AzMfXbe3-cwspSbVlEHv38Dv2PHPO0SpX1ZL5XnXrvj8kRld_OWY6pZfG5weboizYqd-y8_Hhsii8Nud9viBzLr&ci-process=originImage');
    background-repeat: no-repeat;
    background-size: cover;
  }
  .addresscoll-bg {
    background-image: url('https://website-1315068501.cos.ap-nanjing.myqcloud.com/website_ranking/bg_1440.png?q-sign-algorithm=sha1&q-ak=AKIDG2IpMpCwSW6ylb0KXfl8r4-WLPZKQOHMZH6FO9t7KgrBtshtDIafECD6M91arM0v&q-sign-time=1692201499;1692205099&q-key-time=1692201499;1692205099&q-header-list=host&q-url-param-list=ci-process&q-signature=0ac026337b4b9245337afe91549288db7f8f9a5f&x-cos-security-token=6bdH5x2ljTSkRgNVTXyGgsu1tiiKSs9a18fa5da11e27b199fd65fb174a3f9721NUDmFHw43ewwAcomMxLIUnIPW3ypi47XLgBNVGohqsVWRKB-pM2AXnovybK9Rn3FHHhG8dKTRinzgx6nwhEoBgj415cURWHAjE6yBnXZkvNOtokgoquwng1Q0gt9hmWvs1G7C0Tdg_Nk5K2lGKyKD06UUM4NQG34pUSfTMcxRKq4oP-7cxvQ2_XZMRzUb_E7&ci-process=originImage');
    background-size: cover;
  }
  .addressan-bg {
    background-image: url('https://website-1315068501.cos.ap-nanjing.myqcloud.com/website_ranking/bg_nft_1440.png?q-sign-algorithm=sha1&q-ak=AKIDBtYgRLeTN-u64EsVcVwW9S_ZafM-7BEHL9T7RDmiOle993X3nl6ZMqcVdY8gZnp3&q-sign-time=1692201511;1692205111&q-key-time=1692201511;1692205111&q-header-list=host&q-url-param-list=ci-process&q-signature=1cc2fb58d19ee485a68443bfd9b8d8a531fb3b44&x-cos-security-token=Kf3IV6P9iQyQm3I05cxTQECP7OMuvLxa16a7d765eaee4397fa21ca61b6956ea869Wx9hEDgmcDjMkTwjW4r3ZnMSHNy0__pgCs-d8F1ks5ilimi6ucWPq2Phh9DrIt0dcvMnWvh4uNwOc6w8NOej20XWUr1PXsJZ_JCAoEMl54mDRc7nD5GaAtbkEcPPjsu_USKmi2otKFGeREvjnuIzXAXjXd6I-FOzseyD-V5-AfTeJUG14fjYavzI6DxglG&ci-process=originImage');
    background-size: cover;
  }
}
.holder_bg {
  background-image: url('/addressan/bg1.png');
  background-size: 100% 100%;
}
.coll_bg {
  background-image: url('/addressan/bg2.png');
  background-size: 100% 100%;
}
.top__bg{
  background-image: url('/addressan/top_bg.png');
  background-repeat: no-repeat;
  background-size: 100% ;
}
.ranking-bg * {
  box-sizing: border-box;
}
.reddit-title{
  background: linear-gradient(127deg, #546FFF 15.65%, #9644FF 77.85%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}
.reddit-title2{
  background: linear-gradient(280.16deg, #F73B47 8.51%, #FF7E35 142.08%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}
.table__body .table__row:nth-child(2n) {
  background-color: #F8F9FF;
}
.table__body .table__row:hover {
  background-color: #D7E4FD;
}
.table__row .italic.w-9 {
  color: #7F8792;
}
.chart-tip2 {
  background-color: rgba(51, 56, 62, 0.8);
  border-radius: 8px;
  font-size: 20px;
  color: #E8EAEC;
  font-weight: 500;
  padding: 4px 12px;
  display: flex;
  align-items: center;
  height: 40px;
}
.chart-tip {
  position: absolute;
  height: 100px;
  width: 200px;
  opacity: 0;
  cursor: pointer;
  display: flex;
  justify-content: center;
}
.num-text1 {
  background: linear-gradient(124.16deg, #3555FF 8.05%, #A157FF 66.68%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}
.num-text2 {
  background: linear-gradient(280.16deg, #F73B47 8.51%, #FF7E35 142.08%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}
.num-text3 {
  background: linear-gradient(85.79deg, #FF30A9 5.17%, #FA0263 92.09%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}
.num-text4 {
  background: linear-gradient(133.35deg, #FF8B02 37.98%, #FFC903 172.78%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}
.img-wrap {
  position: relative;
  padding: 0;
}
.img-wrap .img-bg {
  background-image: url('/ranking/avatar_bg.png');
  background-position: left top;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
}
.img-wrap img {
  width: auto;
  height: auto;
  max-width: 100%;
  max-height: 100%;
}
.line__v{
  width: 2px;
  height: 22px;
  position: relative;
  top: 4px;
  background: linear-gradient(124.16deg, #3555FF 8.05%, #A157FF 66.68%);
  opacity: 0.3;
}
.tips-wrap {
  width: auto;
  background: rgba(51, 56, 62, 0.8);
  border-radius: 8px;
  padding: 4px 12px;
  position: absolute;
  left: 0;
  top: calc(100% + 4px);
  color: #E8EAEC;
  font-weight: 500;
  font-size: 20px;
  line-height: 32px;
  word-break: break-all;
  z-index: 10;
}

.text1 {
  background: linear-gradient(280.16deg, #F73B47 8.51%, #FF7E35 142.08%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}

.text2 {
  background: linear-gradient(270deg, #D640B8 0%, #FB6AAB 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}

.text3 {
  background: linear-gradient(270deg, #01A4FF 0%, #436AFE 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}

.text4 {
  background: linear-gradient(127.27deg, #3555FF 12.05%, #A157FF 85.34%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}

.text5 {
  background: linear-gradient(268.16deg, #FFD428 1.37%, #FD4702 194.17%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}

.bg1 {
  background: linear-gradient(280.16deg, #F73B47 8.51%, #FF7E35 142.08%);
}

.bg2 {
  background: linear-gradient(270deg, #D640B8 0%, #FB6AAB 100%);
}

.bg3 {
  background: linear-gradient(270deg, #01A4FF 0%, #436AFE 100%);
}

.bg4 {
  background: linear-gradient(127.27deg, #3555FF 12.05%, #A157FF 85.34%);
}

.bg5 {
  background: linear-gradient(268.16deg, #FFD428 1.37%, #FD4702 194.17%);
}

.inferer-score {
  font-size: 70px;
  font-weight: 700;
  line-height: 88px;
}
.score-bar {
  height: 12px;
  border-radius: 40px;

}
.line_score {
  width: 1px;
  height: 135px;
  left: 784px;

  background: linear-gradient(180deg, rgba(83, 115, 255, 0.2) 0%, rgba(94, 37, 255, 0.2) 100%);
  box-shadow: inset 0px 1px 6px rgba(0, 0, 0, 0.03);
}

.holding-amount {
  color: #7F8792;
  font-size: 24px;
}

.holding-dot {
  width: 12px;
  height: 12px;
  border-radius: 12px;
  margin-right: 12px;

  &._1 {
    background-color: #48AEF5;
  }

  &._23 {
    background-color: #FE7B77;
  }

  &._410 {
    background-color: #D080FF;
  }

  &._10 {
    background-color: #FFB859;
  }
}

.infer-label {
  padding: 4px 10px;
  background: linear-gradient(124.16deg, rgba(53, 85, 255, 0.1) 8.05%, rgba(161, 87, 255, 0.1) 66.68%);
  border-radius: 4px;
  font-size: 12px;
  margin-bottom: 29px;
  margin-right: 24px;
  cursor: pointer;
}
.infer-label:hover {
  background: linear-gradient(122deg, #3555FF 15.65%, #A157FF 77.85%);
}
.infer-label:hover .num-text1 {
  color: #fff;
  background: none;
  -webkit-background-clip: text;
  -webkit-text-fill-color: #fff;
  background-clip: text;
  text-fill-color: #fff;
}

.infer-label2 {
  padding: 4px 10px;
  border-radius: 4px;
  font-size: 12px;
  background-color: #EEF4FF;
  margin-bottom: 10px;
  margin-right: 24px;
  cursor: pointer;
}
.infer-label2:hover .text-label2{
  background: linear-gradient(124.16deg, #3555FF 8.05%, #A157FF 66.68%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}


.like-wrap .num-text1.up {
  background: linear-gradient(280.16deg, #F73B47 8.51%, #FF7E35 142.08%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}


.like-wrap .num-text1.down {
  background: linear-gradient(124.16deg, #3F4664 8.05%, #3F4664 66.68%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}

.text-ellipsis {
 
  overflow: hidden;

  white-space: nowrap;

  text-overflow: ellipsis;
}

.ceiling-floor-bg{
  background: linear-gradient(127deg, rgba(53, 85, 255, 0.05) 15.65%, rgba(161, 87, 255, 0.05) 77.85%);
}